/* Navbar */
.navbar > .container {
    max-width: 100%;
    margin: 0;
}

/* Start Sidebar */
#brand {
    border-bottom: 1px solid #4c4c4c;
}

#sidebar {
    height: 100%;
    /* 100% Full-height */
    /* width: 0; */
    width: 250px;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 8px;
    /* Place content 60px from the top */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
#sidebar a {
    padding: 14px 8px 8px 32px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
    color: #818181;
}

.sidebar-text {
    padding: 10px;
}

/* The button used to open the sidebar */
.sidebar-toggle-btn {
    cursor: pointer;
    background-color: #ffffff;
    color: #343a40;
    padding: 10px 15px;
    border: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main { */
/* transition: margin-left .5s; */
/* If you want a transition effect */
/* padding: 20px; */
/* } */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    /* #sidebar {
        padding-top: 15px;
    } */
}

/* End Sidebar */

#app {
    margin-left: 250px;
}

@media (max-width: 1920px) {
    /* .container {
        max-width: 1800px;
    } */

    main .container {
        max-width: 1400px;
    }
}

@media (max-width: 1440px) {
    main .container {
        max-width: 1100px;
    }
}

/* Datepicker override */
.vdatetime {
    width: 100%;
}

.vdatetime-popup__header {
    background-color: #343a40 !important;
}

.vdatetime-calendar__month__day--selected>span>span,
.vdatetime-calendar__month__day--selected:hover>span>span {
    color: #fff;
    background: #3490dc !important;
}

.vdatetime-popup__actions__button,
.vdatetime-time-picker__item--selected {
    color: #3490dc !important;
}

#bookingsTable_wrapper,
#purchasesTable_wrapper,
#usersTable_wrapper,
#roomsTable_wrapper {
    width: 100%;
}

#bookingsTable,
#purchasesTable,
#usersTable,
#roomsTable {
    width: 100% !important;
    margin: 0;
}