@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    overflow-x: hidden;
    margin-top: 60px;
}

input,
textarea,
select,
button {
    background-color: #fff0 !important;
    border-radius: 0 !important;
    height: calc(1.6em + 0.75rem + 8px) !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.logo {
    font-size: 2em;
}

.logo span:nth-child(1) {
    color: #ffff00;
}

.logo span:nth-child(2) {
    color: #249fe8;
}

.bg-dark {
    background-color: #22222252 !important;
}

nav:not(.skippr-nav-item):not(.skippr-nav-container) {
    background-color: #222;
    height: 60px;
    padding: 0 120px !important;
}

.skippr-nav-container {
    display: none;
}

nav a:not(.btn-cta):not(.logo):hover {
    color: #F64C56 !important;
}

.navbar-nav li {
    text-align: center;
    width: 120px;
}

.container {
    max-width: 100%;
    padding: 0;
}

.btn-book {
    padding: 6px 20px !important;
}

#navbarHome .btn-cta,
#book-now-modal .modal-header {
    background-color: #F64C56 !important;
}

/* Home Page */
#home {
    height: 100vh;
}

#home .bx-wrapper {
    /* width: 100%;
    border: 0;
    margin-bottom: 0; */
}

#home .bx-viewport {
    /* max-height: 1000px;
    height: 100% !important; */
}

#home .sy-controls li a:after {
    background-image: url(/slippry-1.4.0/images/arrows.svg) !important;
}

/* Rooms */
#rooms {
    background: url(../img/home-secondary-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -16px;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

#rooms .bx-viewport {
    /* max-height: 450px !important; */
}

#rooms .bx-wrapper {
    /* width: 100%;
    border: 2px solid #ffffff;
    margin-bottom: 0; */
}

.img-room {
    width: 100%;
}

.magnify-icon {
    opacity: 0;
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    top: 48%;
    left: 48%;
}

.room-thumb img {
    transition: .5s ease;
    transition: transform .5s;
}

.room-images:hover .room-thumb img {
    opacity: 0.7;
    transform: scale(1.2);
}

.room-images:hover .magnify-icon {
    opacity: 1
}

.room-images {
    overflow: hidden;
}

.hide {
    display: none;
}

/* Contact */
#contact {
    background-color: #534c4c;
}

.contact-icon {
    font-size: 2em;
}

#map {
    width: 100%;
    height: 600px;
}

/* Book */
#book {
    background-color: #f3efe7;
}

.btn-book {
    color: #F64C56;
    border: 1px solid #F64C56;
    margin: 0 !important;
}

.btn-book:hover {
    color: #ffffff;
    background-color: #F64C56 !important;
}

.container-middle-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

#book-now-modal .modal-body {
    padding: 1rem 2rem !important;
}

#book-now-modal .alert {
    display: none;
}

#book-now-modal .form-group {
    margin-bottom: 0;
}

/* Select Room */
#select-room-container {
    background-color: #f3efe7;
    margin-top: 60px;
}

.room-list-details div {
    width: 92%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: table;
}

.room-list-details div * {
    display: table-cell;
    vertical-align: middle;
}

.btn-cta:not(.nav-link),
.room-list-details a {
    text-decoration: none;
    color: #000000 !important;
    border: 1px solid #000;
    font-weight: bold !important;
    float: right;
}

.btn-cta:not(.nav-link):hover,
.room-list-details a:hover {
    text-decoration: none;
    border: 1px solid #F64C56;
    background-color: #F64C56 !important;
}

/* Checkout room */
#checkout-container {
    background-color: #f3efe7;
    margin-top: 60px;
}

#checkout-container .checkout-heading h3 {
    border-bottom: 1px solid #ced4da;
    line-height: 2em;
}

#checkout-container .checkout-heading h4 {
    line-height: 2em;
}

#checkout-total .label {
    width: 30%;
    font-weight: bold;
}

#checkout-total .card-header {
    background-color: #F64C56;
    color: #ffffff;
}

#checkout-total .card-body,
#checkout-total .card-footer {
    background-color: #ffffff;
}

#checkout-total .text {
    width: 65%;
}

#checkout-total .card-body div:first-child {
    border-bottom: 1px solid #dfdfdf;
}

.clear-both {
    clear: both;
}

/* Footer */
footer {
    background-color: #F64C56 !important;
}

body#book footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 !important;
}

.footer-social-icon {
    font-size: 2em;
}

/* Datepicker override */
.vdatetime {
    width: 100%;
}

.vdatetime-popup__header {
    background-color: #343a40 !important;
}

.vdatetime-calendar__month__day--selected>span>span,
.vdatetime-calendar__month__day--selected:hover>span>span {
    color: #fff;
    background-color: #3490dc !important;
}

.vdatetime-popup__actions__button,
.vdatetime-time-picker__item--selected {
    color: #3490dc !important;
}

/**
 * Media Queries
**/
@media only screen and (max-width: 768px) {
    nav:not(.skippr-nav-item):not(.skippr-nav-container) {
        padding: 0 16px !important;
    }

    .navbar-nav li {
        width: 100%;
    }

    #book-now-modal .form-group {
        padding: 4px 0;
    }

    .room-list {
        padding: 1.2rem !important;
    }

    .room-list-details {
        height: 450px;
    }

    .room-list-details div {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .modal-dialog {
        max-width: 850px;
    }
}

/* Simple Lightbox */
.sl-overlay {
    background: #000 !important;
}

.sl-wrapper .sl-counter {
    color: #fff !important;
    font-weight: bold;
}

.sl-wrapper .sl-close,
.sl-prev,
.sl-next {
    color: #fff !important;
}